<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>
<body>
      
    <div id="app">
        <h1> {{ title }} </h1>
        <button @click="getContent">Get Content</button>
        <div v-if="showContent"> 
            <p>Users:</p>
            <ul>
                <li v-for="(user, index) in users" :key="user.id">
                    <p> {{ index }} - {{ user.name }} </p>
                    <span> {{ user.email }} - {{ user.age }} </span>
                </li>
                
            </ul>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'DATA',
                showContent: false,
                // user: {
                //      name: 'Felix Lengyel',
                //      email: 'lengyelfelix@gmail.com'
                // },
                users: [
                    {id: 123, name: 'Felix Lengyel', email: 'lengyelfelix@gmail.com', age: 24},
                    {id: 321, name: 'Sebastian Hans Eli Fors', email: 'forsen@gmail.com', age: 22},
                    {id: 213, name: 'tyler1', email: 'tyler1@gmail.com', age: 25},
                ]
            },
            methods: {
                getContent () {
                    this.showContent = !this.showContent
                }
            }
        })
    </script>

</body>  
</html>